*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: poppins;
}


.header li
{
    list-style: none;

}

.head1 .tasty
{
    color: rgb(222 44 77 / var(--tw-text-opacity, 1));
    font-size: 35px;
    font-weight: bold;
    
  
}
.head1 .cart
{
    color: rgb(251 146 60 / var(--tw-text-opacity, 1));
    font-size: 35px;
    font-weight: bold;
    margin: 5px;


} 
.head1 .burger 
{
    color: rgb(222 44 77 / var(--tw-text-opacity, 1));
    margin: 3px;
    
}
.head1 span 
{
    color: rgb(251 146 60 / var(--tw-text-opacity, 1));
    font-size: 35px;
}

.head2 ul
{
    display: flex;
    align-items: center;
    font-size: 20px;
    
}
.head2 li
{
    padding: 0px 20px 0px 20px;
    
}
.troly
{
    font-size: 30px;
}
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 96px;
    margin: 0px 24px;
    height: 100px;
}
.box1
{
    display: flex;
    align-items: center;
    padding: 1px 121px;
    background-color: rgb(243 244 246);
    height: 650px;

    
}
.two
{
    width: 85%;
    height: 550px;
    margin-right: 40px;
}
.two img
{
    width: 100%;
    height: 100%;
    border-radius: 5px;

    
}
.box1 span
{
   color: rgb(251 146 60 / var(--tw-text-opacity, 1));;

}
.box1 h1
{
    font-size: 48px;
}
.box1 h2
{
    font-size: 48px;
    margin-top: 20px;

}
.box1 h5
{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;

}

.box1 p
{
    color: rgb(112, 103, 103);
    font-size: 18px;
    margin-top: 8px;
    
}
.one1 a
{
    color: white;
    background-color:rgb(222 44 77 / var(--tw-bg-opacity, 1));
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 13px;
    text-decoration: none;
}
.one1 
{
    margin-top: 30px;

}
.three
{
    width: 300px;
    height: 360px;
    margin-left: 50px;

}
.three img
{
    width: 100%;
    height: 100%;
    
}
.box2
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    background-color: #fff4eb;
    
    
}
.four
{
    margin-right: 50px;
}
.four p
{
    width: 430px;
    font-size: 15px;

}
.four h1
{
    font-size: 60px;

    
}
.five a
{
    color: white;
    background-color:rgb(222 44 77 / var(--tw-bg-opacity, 1));
    font-size: 20px;
    padding: 10px 22px;
    border-radius: 13px;
    text-decoration: none;
    
}


.five 
{
    margin-top: 15px;
}

.first 
{
    width: 323px;
    height: 163px;
    margin: auto;


}
.first img
{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    
}

.second
{
    width: 323px;
    height: 160px;
    margin: auto;
    

}
.second img
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 15px;


}

.third
{
    width: 323px;
    height: 160px;
    margin: auto;


}
.third img
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 15px;


    
}

.fourth
{
    width: 323px;
    height: 160px;
    margin: auto;


}
.fourth img
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 15px;


}

.fiveth
{
    width: 323px;
    height: 160px;
    margin: auto;
    


}
.fiveth img
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 15px;


}

.sixth
{
    width: 323px;
    height: 160px;
    margin: auto;
    border-radius: 15px;
}
.sixth img
{
    width: 100%;
    height: 100%;
    
    margin-top: 15px;

}

.box3
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
        
}
.box4
{
    display: flex;
    align-items: center;
    justify-content: center;
    


}

.apple
{
    background-color: #ffffff;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    margin: 6px;
    width: 360px;
    height: 322px;
 
}
.apple span
{
    color: rgb(22 163 74 / var(--tw-text-opacity, 1));
    margin-left: 13px;

}

 .six 
 { 
     width: 35%;
    text-align: center;
    margin: 25px 0 0 0 ;
    
 }

.apple h1
{
    font-size: 17px;
    margin-left: 15px;
    margin-top: 24px;
}
.apple p
{
    
    margin-left: 15px;
    margin-top: 3px;


}
.apple h5
{
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 3px;
    color: #868383;
}

.seaventh a
{
    color: white;
    background-color:rgb(222 44 77 / var(--tw-bg-opacity, 1));
    font-size: 15px;
    padding: 13px 22px;
    border-radius: 13px;
    text-decoration: none;
   
    
}
.seaventh
{
    margin-top: 28px;
    width:32%;
    text-align: center;
    
}

.fotter1
{
    color: rgb(222 44 77 / var(--tw-text-opacity, 1));
    font-weight: bold;
    font-size: 27px;
    margin-left: 55px;
    

}

.fotter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff4eb;
    padding: 16px 96px;
    height: 150px;
    margin-top: 90px;
    


}

.fotter2 
{
    font-size: 35px;
    margin-right: 50px;
    
}
.tasty
{
    color: rgb(222 44 77 / var(--tw-text-opacity, 1));
    font-size: 35px;

}

.cart
{
    color: rgb(251 146 60 / var(--tw-text-opacity, 1));
    font-size: 35px;

}
.fotter .burger
{
    font-size: 30px;
    margin: 5px;
}
